@import url('admin_main.css');

/* Aquí agregas solo estilos específicos del CRUD */


body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usuario-info h1 {
    font-size: 22px;
    margin: 0;
}

.usuario-info .rol {
    font-weight: normal;
    font-size: 16px;
    color: #ccc;
    margin-left: 10px;
}

.avatar-contenedor {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logout {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout:hover {
    background-color: #c0392b;
}

.contenedor-tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 40px;
}

table {
    border-spacing: 60px;
}

td {
    text-align: center;
}

td a {
    text-decoration: none;
    color: #2c3e50;
    display: block;
    transition: transform 0.2s;
}

td a:hover {
    transform: scale(1.05);
}

td img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

td img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2);
}

td p {
    font-size: 18px;
    margin: 0;
}
